body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.header {
    display: flex;
}

.nav-links {
    display: flex;
    gap: 10px;
    list-style: none;
    
}

a:link {
    text-decoration: none;
}