* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PublicSans;
    src: url(./fonts/PublicSans-Regular.ttf);
}

body {
    background-color: #FFFFFF;
    font-family: PublicSans;
}

header {
    background-color: #1B6392;
    /* text-align: center;
    padding: 1rem; */
}

.sale_header {
    background-color: #191C1F;
    padding: 6px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


.discount {
    display: flex;
    position: relative;
    top: 8px;
    text-align: center;
}

#discountColor {
    color: white;
    
}

#discountAmount {
    font-size: 32px;
    color: #EBC80C;
}

.button {
    display: flex;
    padding: 12px;
    background-color: #EBC80C;
    width: 124px;
    font-size: 14px;
    gap: 8px;
}

.button a {
    color: #191C1F;
    font-weight: bold;
}

#rotatedText {
    transform: rotate(-3deg);
    background-color: #F3DE6D;
    padding: 4px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

#fridayText {
    color: white;
    margin-top: 4px;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
}

.mainText {
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
    display: flex;
    justify-content: left;
    margin-left: -8px;
}

.mainText a {
    gap: 4px;
}

.sales-text {
    font-size: 21px;
    font-weight: bold;
    display: flex;
    gap: 12px;
}

.nav_header {
    display: flex;
    margin-top: 12px;
    justify-content: space-around;
    align-items: center;
    
}

.header_title {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 12px;
    
}

.header_title a {
    position: relative;
    left: 78px;
    
}


.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ffffff;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

.search-container input[type=text] {
    padding: 6px;
    width: 350px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.nav-text {
    color: #FFF;
    position: relative;
    left: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.follow {
    display: flex;
    color: #FFF;
    position: relative;
    right: 28px;
    gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.follow i, a {
    color: white;
    display: flex;
    text-decoration: none;
}

.icons_nav {
    display: flex;
    position: relative;
    top: 15px;
    right: 140px;
    gap: 8px;
}

.navbarMiddle {
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: 8px;
    margin-top: 12px;
}
  
.navbarMiddle a {
    float: left;
    color: #727272;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 14px;
    gap: 8px;
    font-family: PublicSans;
}

.leftContent {
    margin-left: 156px;
}

.rightContent {
    margin-right: 156px;
}
  
.navbarMiddle a:hover {
    background-color: #acacac;
    color: #727272;
}
  
.navbarMiddle a.split {
    float: right;
    color: #727272;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }


.sale-border{
    border: 1px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 2px;
}
   
.widget{
    border-radius: 6px;
    border: 1px;
    width: 833px;
    height: 509px;
    background-color: #F2F4F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
    position: relative;
    margin-top: 15px;
}
  
.price{
    width: 101px;
    height: 100px;
    border-radius: 100px;
    border: 1px;
    background-color: #2DA5F3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    top: 56px;
    left: 717px;
}
    
.widget-in{
    border-radius: 6px;
    border: 1px;
    width: 356px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.a-best-place{
    font-size: 14px;
    color: #2484C2;
}
  
.widgetShop{
    border-radius: 6px;
    border: 1px;
    background-color: #FA8232;
    width: 191px;
    height: 56px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
  
.sale-29-off{
    border: 1px;
    background-color: #EFD33D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    top: 24px;
    right: 24px;
    width: 102px;
    height: 40px;
    position: absolute;
    color:black;
    font-weight: bold;
    border-radius: 2px;
}

.p-summer-sales {
    color:#EFD33D;
    margin-left: 12px;
}

.p-299 {
    color: #2DA5F3;
    font-weight: bold;
}

.p-new-google {
    color: white;
    margin-left: 12px;
    font-size: 24px;
}
  
.widgetShop-1{
    border-radius: 6px;
    border: 1px;
    background-color: #FA8232;
    width: 191px;
    height: 56px;
    font-size: 16px;
    margin-left: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 156px;
    height: 48px;
}
  
.widget-inn-right{
    border-radius: 6px;
    border: 1px;
    width: 378px;
    height: 408px;
}
  
  
.widget-right {
    border-radius: 6px;
    border: 1px;
    background-color: #191C1F;
    width: 424px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 14px;
}
  
.widget-right-l{
    border-radius: 6px;
    border: 1px;
    width: 160px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  
.widget-right-r{
    border-radius: 6px;
    border: 1px;
    width: 240px;
    height: 202px;
    margin-top: 46px;
    margin-left: 17px;
}
  
.widget-right1 {
    border-radius: 6px;
    position: relative;
    bottom: 24px;
    border: 1px;
    width: 424px;
    height: 245px;
    background-color: #F2F4F5;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
  
.widget-right-1-r{
    border-radius: 6px;
    border: 1px;
    width: 172px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.widget-right-1-l{
    border-radius: 6px;
    border: 1px;
    width: 160px;
    height: 160px;
}
  
.widget-right-2 {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 28px;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .product-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; /* Add margin between rows */
  }

  .product-card {
    flex: 0 0 calc(25% - 20px); /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s;
    overflow: hidden;
  }

  .product-card:hover {
    transform: scale(1.05);
  }

  .product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .product-buttons {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .product-card:hover .product-buttons {
    display: flex;
  }

  button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  select {
    margin-bottom: 10px;
    padding: 5px;
  }

  /* Responsive layout for smaller screens */
  @media (max-width: 768px) {
    .product-card {
      flex: 0 0 calc(50% - 20px);
    }
  }

#productContainer {
    display: block;
    margin-left: 350px;
    margin-right: 18px;
}

  #categoryFilter {
    display: block;
    position: relative;
    left: 525px;
    width: 200px;
    /* flex-direction: flex-end;
    justify-content: flex-end;
    width: 200px;
    height: 32px; */
  }

  .banner {
    display: block;
    padding-top: 840px;
  }


/* FOOTER */

#footer-main {
    background-color: #191C1F;
    border: solid 1px #333;
    padding: 60px;
    }
    
    .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 180px;
    
    }
    
    .footer-grid a {
    position: relative;
    top: -50px;
    align-items: flex-start;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 18px;
    }
    
    .footer-line {
    border: 1px solid white;
    }
    
    .footer-text {
    color: white;
    display: block;
    top: 50px;
    left: 20px;
    }
    
    .footerIcons {
    position: relative;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    }
    
    .footerIcons a {
    text-decoration: none;
    padding: 12px;
    background-color: white;
    margin: 8px;
    border-radius: 50%;
    }
    
    .footerIcons a i {
    color: black;
    font-size: 2em;
    opacity: 0,9;
    }
    
    .footerBottom > p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    color: white;
    }
    
    @media (max-width: 1024px) {
    .footer-grid {
    padding-left: 20px;
    margin-top: 80px;
    }
    }

/* END OF FOOTER */